[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = error

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none
